SPRING_DATASOURCE_PASSWORD=password
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres-java-auth:5432/auth-db
SPRING_DATASOURCE_USERNAME=postgres
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_SQL_INIT_MODE=always
JWT_SECRETS=ZGlhbmRyYWtlam9yYXB1dHJpZGlhbmRyYWtlam9yYXB1dHJpZGlhbmRyYWtlam9yYXB1dHJp